*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/basic/build/
/basic/build/intermediates/javac/debug/classes/
/debug/build/
/debug/build/intermediates/javac/debug/classes/
/login/build/
/login/build/intermediates/javac/debug/classes/
/XzbLib/tuibarrage/build/
/XzbLib/tuibarrage/build/intermediates/javac/debug/classes/
/XzbLib/tuibeauty/build/
/XzbLib/tuibeauty/build/intermediates/javac/debug/classes/
/XzbLib/tuicore/build/
/XzbLib/tuicore/build/intermediates/javac/debug/classes/
/XzbLib/tuiplayer/build/
/XzbLib/tuiplayer/build/intermediates/javac/debug/classes/
/XzbLib/tuipusher/build/
/XzbLib/tuipusher/build/intermediates/javac/debug/classes/